*.pyc
docs/build/.DS_Store
*.pickle
*.doctree
docs/build/html/.buildinfo
docs/build/html/_modules/index.html
docs/build/html/_modules/scimath/units/has_units.html
docs/build/html/_modules/scimath/units/unit_array.html
docs/build/html/_modules/scimath/units/unit_scalar.html
docs/build/html/_sources/index.txt
docs/build/html/_sources/interpolate/index.txt
docs/build/html/_sources/mathematics/index.txt
docs/build/html/_sources/units/about.txt
docs/build/html/_sources/units/index.txt
docs/build/html/_sources/units/intro.txt
docs/build/html/_sources/units/unit_funcs.txt
docs/build/html/_sources/units/user_ref.txt
docs/build/html/_static/ajax-loader.gif
docs/build/html/_static/basic.css
docs/build/html/_static/comment-bright.png
docs/build/html/_static/comment-close.png
docs/build/html/_static/comment.png
docs/build/html/_static/default.css
docs/build/html/_static/doctools.js
docs/build/html/_static/down-pressed.png
docs/build/html/_static/down.png
docs/build/html/_static/e-logo-rev.png
docs/build/html/_static/et.ico
docs/build/html/_static/file.png
docs/build/html/_static/jquery.js
docs/build/html/_static/minus.png
docs/build/html/_static/plus.png
docs/build/html/_static/pygments.css
docs/build/html/_static/searchtools.js
docs/build/html/_static/sidebar.js
docs/build/html/_static/underscore.js
docs/build/html/_static/up-pressed.png
docs/build/html/_static/up.png
docs/build/html/_static/websupport.js
docs/build/html/genindex.html
docs/build/html/index.html
docs/build/html/interpolate/index.html
docs/build/html/mathematics/index.html
docs/build/html/objects.inv
docs/build/html/py-modindex.html
docs/build/html/search.html
docs/build/html/searchindex.js
docs/build/html/units/about.html
docs/build/html/units/index.html
docs/build/html/units/intro.html
docs/build/html/units/unit_funcs.html
docs/build/html/units/user_ref.html
.DS_Store
*.so