include CHANGES.txt
include image_LICENSE_OOo.txt
include image_LICENSE.txt
include LICENSE.txt
include README.rst
include pyproject.toml
recursive-include scimath/units/data/ *.txt
recursive-include scimath/units/plugin/images *.txt *.png
